div {
    display: inline-block;

}
.container {
    margin: 0 auto;
}
.col-6 {

    max-width: 200px;
    margin-bottom: 5%;
    margin-right: 5%;
    padding: 2% 1%;
    border: 1px solid black;
    
}

.orders, .packages {
    margin-top: 15%;
}


