@import "~bootstrap/dist/css/bootstrap.min.css";

.wrapper {
    width: 100vw;
    display: flex;
} 
div {
    display: inline-block;

}
.container {
    width: 100vw;
    margin: 0 auto;
    
}
.col-sm {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    max-width: 25vw;
    text-align: center;
    margin: 0 auto 5% auto;
    padding: 2% 1%;
    border: 1px solid #b8c6db;
    font-family: 'Montserrat';
    
}

